@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;800;900&display=swap');

#rus #nav li:nth-child(4) a {
    margin-left: 12px;
}
header {
    background-color: #ffffff !important;
}
.pumpkin:after {
    content: " ";
    position: absolute;
    background-image: url(../images/Pumkin_Shadow.png);
    height: 58vh;
    width: 100%;
    bottom: -180px;
    z-index: 0;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}
.halloween{
    background-color:#F29705;
    margin:0 auto;
    max-height:980px;
    min-height:100vh;
    position:relative
}
.halloween .gatsby-image-wrapper{
    position: absolute !important;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
}
.pumpkin{
    position: absolute;
width:100%;
height:100%;
    z-index: 1;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
body .halloween{
    display:none !important;
}
.halloween img{
    object-position: top !important;
}
.hallotext{
    z-index: 2;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 18vh;
    text-align: center;
    padding: 20px;
}
.pumpkin  .gatsby-image-wrapper{
    max-width: 70vh;
    max-height: 68vh;
    margin: auto;
    top: 22vh;
    bottom: 0;
    left: 0;
    right: 0;
}
.halloween img{

}
.halloween h1{ 
        font: 900 38px/44px Roboto;
        letter-spacing: -.21px;
        color: #ffffff;
        opacity: 1;
        margin-bottom: 10px;
        text-transform:uppercase;
}
.halloween a{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10vh;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    color: white !important;
    opacity: 1;
    font-family: 'Work Sans', sans-serif !important;
    font-weight: 500;
    width: 195px;
    height: 41px;
    background: #000000;
    border-radius: 25px;
    opacity: 1;
    line-height: 41px!important;
    z-index:4;
}
.halloween p{ 
    text-align: center;
    font: 500 18px/36px Roboto !important;
    letter-spacing: 0;
    opacity: 1;
    color: #000000;

}
.contact-form{
    margin: 0 auto !important;
    width: 100%;
    display: block;
    padding: 0px 40px;
    padding-bottom: 100px;

}
.form-wrap p{
    font: 400 16px/32px Roboto!important;
}
.form-wrap input{
    font: 400 16px/22px Roboto!important;
}
body .sendbtn{
    background-color: #feb02d;
    -webkit-appearance: none;
    border: none;
    font: 500 15px/22px Roboto!important;
    letter-spacing: 0;
    color: #000000;
    padding: 10px 20px;
    border-radius: 3px;
}
.form-wrap textarea{
    height: 140px;
    border: 1px solid #dcdde1;
    border-radius: 6px;
    outline: none!important;
    text-align: left;
    font: 400 16px/22px Roboto!important;
    letter-spacing: 0;
    color: #1b1f3b;
    opacity: 1;
    width: 100%;
    padding-left: 20px;
    -webkit-appearance: none;
}
.form-wrap{
    max-width: 1155px;
    margin: 0 auto;
}
#es_ES .home-middle p{
    min-height: 62px;
}

#es_ES  .home-middle h3{
    min-height: 70px;
    padding-right: 30px;
}

#es_ES .home-middle h3:after {
    right: 3px;
}
#ar .home-middle p{
    min-height:50px;
}

#ru_RU .home-middle p{
    min-height: 70px;
}
#ru_RU  .home-middle h3{
    min-height: 100px;
}
.growth .col-lg-6{
float:left;
}
.home-middle h3:after {
    content: " ";
    position: absolute;
    background-image: url(../images/right.png);
    height: 16px;
    width: 10px;
    background-size: 10px;
    top: 4px;
    right: -13px;
    bottom: 0;
    margin: auto;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} 
.collapse.show {
    display: block;
}
.collapse.show:before {
    background-color: #fff;
    z-index: 2;
}
.faq-content .accordion{
    float:left;
    width:100%;
}
.card-header:before, .collapse.show:before {
    content: " ";
    position: absolute;
    width: 4px;
    height: 24px;
    right: 10px;
    top: 24px;
    box-sizing: border-box;
    border-radius: 5px;
}
.card-header:before {
    background-color: #0079ff;
    z-index: 1;
}
.card-header:after {
    content: " ";
    position: absolute;
    width: 24px;
    height: 4px;
    right: 0;
    top: 34px;
    background-color: #0079ff;
    box-sizing: border-box;
    border-radius: 5px;
    z-index: 3;
}
.accordion .btn {
    background-color: #fff!important;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: .01em;
    color: #37383d;
    margin-top: 22px;
    display: inline-block;
    padding-right: 40px;
    padding-bottom: 22px;
    border-bottom: 2px solid #d7e0ff!important;
    width: 100%;
    border: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
.accordion p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #37383d;
    margin-bottom: 0;
}
.accordion, .accordion .btn {
    position: relative;
}
.collapse {
    display: none;
}
.card-body {
    padding: 10px 5px;
}
.home-second-pop {
    position: relative;
}
.home-second-pop .pop-up{
    padding:0px;
    margin:0px;
}
.entry-content{
    max-width: 1250px;
    margin: 0 auto;
    padding: 20px 40px;
    padding-top: 180px;
    padding-bottom:180px;
    width:100%;
}
.entry-content h1{
    font: 600 28px/38px Roboto!important;
    color: #1b1f3b;  
    margin-bottom:40px;
}
.entry-content h2,
.entry-content h3,
.entry-content h4{
    font: 600 24px/38px Roboto!important;
    color: #1b1f3b; 
}
.entry-content p{
    font: 400 18px/36px Roboto!important;
    letter-spacing: 0;
    color: #5f6275; 
}
.entry-content a{
    font: 400 18px/36px Roboto!important;
    letter-spacing: 0;
    color: #5f6275;   
}
.entry-content span{
    font: 400 18px/36px Roboto!important;
    letter-spacing: 0;
    color: #5f6275;  
}
.entry-content ul{
    font: 400 18px/36px Roboto!important;
    letter-spacing: 0;
    color: #5f6275;  
}
body .single-page{
    width:100%;
    margin:0 auto;
}
.entry-content ol,
.entry-content ul li{
    font: 400 18px/36px Roboto!important;
    letter-spacing: 0;
    color: #5f6275;   
}
.ReactModal__Body--open{
    overflow:hidden;
    max-height:100vh;
}
.order-form h3{
    text-align: left;
    font: 700 26px/30px Roboto!important;
    letter-spacing: 0;
    color: #1b1f3b;
    opacity: 1;
    padding: 10px;
    width: 100%; 
}
.payment-information{
    font: 400 14px/20px Roboto !important;
    letter-spacing: 0;
    color: #5F6275;
    text-align: center;
    width: 100%;
    display: inline-block;
    margin:0px;
}
.success-pop{
    text-align: center;
    font: 400 18px/36px Roboto !important;
    letter-spacing: 0;
    color: #5F6275;
    opacity: 1;
    margin-bottom: 35px;
    margin-top: 35px;    
}
.order-form input,
.order-form select{
height: 40px;
    border: 1px solid #dcdde1;
    border-radius: 6px;
    outline: none!important;
    text-align: left;
    font: 400 14px/22px Roboto!important;
    letter-spacing: 0;
    color: #1b1f3b;
    opacity: 1;
    width: 100%;
    padding-left: 20px;   
        -webkit-appearance: none;
}
.ReactModal__Content{
    max-width: 800px;
    margin: 0 auto;
    height: auto;
    bottom: auto !important;
    top: 50% !important;
    transform: translateY(-50%);
}
.send-order{
    height: 42px;
    background: #007aff 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    text-align: center;
    font: 500 14px/16px Work Sans!important;
    letter-spacing: 0;
    color: #fff;
    text-transform: uppercase;
    opacity: 1;
    outline: none!important;
    border: none!important;
    padding: 0 30px;
    margin-top: 20px;
    float: right;
    -webkit-appearance: none;
    cursor:pointer;
}
.form-split p{
    margin-bottom:10px;
}
.form-split{
    width: 50%;
    float: left;
    padding: 0px 10px;
}
.order-form label{
    text-align: left;
    font: 500 14px/22px Roboto!important;
    letter-spacing: 0;
    color: #1b1f3b;
    opacity: 1;
}
.order-form input:focus, .order-form select:focus {
    border-color: black;
}
.pop-up{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(100% - 40px);
    right: 0;
    margin: 0 auto;
  opacity: 0 !important;
    cursor:pointer;
    
}
.ReactModal__Overlay{
z-index: 9999;
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.footer-links {
width: 100%;
    text-align: center;
    padding: 30px 0px 20px 0px;
}
.footer-nav {
    float: right;
    padding-top: 9px;
}
.footer .container{
max-width: 1180px;    
}
.footer-logo{
float: left;
    max-width: 140px;
}
.footer-logo svg{
    width:100%;
}
.footer-nav a{
    border-bottom: none;
    line-height: 20px;
    text-align: center;
    font: 500 14px/16px Work Sans!important;
    letter-spacing: 0;
    color: #fff;
    text-transform: uppercase;
    opacity: 1;
    padding: 0 10px;
}
.footer-nav a:nth-last-of-type(2) {
    margin-left: 35px;
}
.footer-nav a:nth-last-of-type(1) {
    height: 42px;
    background-color: #ffb02c!important;
    border-radius: 6px!important;
    opacity: 1!important;
    line-height: 25px!important;
    font: 500 14px/16px Work Sans!important;
    letter-spacing: 0;
    color: #1b1f3b!important;
    text-transform: uppercase;
    background-image: none!important;
    box-shadow: none!important;
    border: none!important;
    padding: 10px 30px!Important;
    margin-left: 20px;
        transition: .3s;
}
.footer-nav a:hover,
.footer-links a:hover,
#nav li a:hover{
    text-decoration:underline;
}
.footer-nav a:nth-last-of-type(1):hover {
    box-shadow: 0px 0px 10px #FFB02C!Important;
}
.footer-links a,
.footer-links p{
    font: 500 14px/16px Work Sans!important;
    letter-spacing: 0;
    color: #fff;
    opacity: 1;
    padding: 0 20px;
    display: inline-block;
}
.footer{
    background-color: #007aff;
    color: #fff;
    text-align: center;
    margin: 0px;
    padding-top: 20px; 
}
.prefooter {
    background-color: #007aff;
    color: #fff;
    padding-top: 112px;
    padding-bottom: 80px;
        text-align:center;
}
.prefooter h3 {
    text-align: center;
    font: 500 34px/48px Roboto!important;
    letter-spacing: 0;
    color: #fff;
    opacity: 1;
    margin-bottom: 29px;
}
.prefooter p {
    text-align: center;
    font: 400 17px/32px Roboto!important;
    letter-spacing: 0;
    color: #fff;
    opacity: 1;
    max-width: 560px;
    margin: 0 auto;
}
.prefooter a:hover{
    transition: .3s;
    background-color: white!Important;
    color: #000;
}
.prefooter a{
    transition: .3s;
    border-radius: 5px;
    display: inline-block;
    font: 400 14px/40px Roboto!important;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #fff;
    color: #fff;
    padding-top: 0;
    padding-bottom: 0;
    text-transform: uppercase;
    min-width: 230px;
    text-align: center;
    margin: 30px 20px;
}
.growth a:hover {
    box-shadow: 0px 0px 10px #007AFF !Important;
    transition: 0.3s;
}
.growth .col-lg-12 {
    padding-top: 80px;
    padding-bottom: 180px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.growth h3 {
    text-align: left;
    font: 800 34px/58px Roboto !important;
    letter-spacing: 0;
    color: #1B1F3B;
    opacity: 1;
    margin-bottom: 28px;
}
.growth p {
    text-align: left;
    font: 400 18px/36px Roboto !important;
    letter-spacing: 0;
    color: #5F6275;
    opacity: 1;
    margin-bottom: 35px !important;
}
.growth a{
background-color: #007AFF;
    color: white;
    background: #007AFF;
    border: none;
    text-align: center;
    font: 400 14px/16px Work Sans !important;
    letter-spacing: 0;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
        border-radius: 5px;
    transition:0.3s;
}
.way h3{
    text-align: left;
    font: 700 34px/58px Roboto !important;
    letter-spacing: 0;
    color: #1B1F3B;
    opacity: 1;
    margin-bottom: 17px;    
}
.way .col-lg-12{
    padding-top: 180px;
    padding-bottom: 180px;
    max-width:1200px;
    margin:auto;
    display:block;
}
.way p{
    text-align: left;
    font: 400 18px/36px Roboto !important;
    letter-spacing: 0;
    color: #5F6275;
    opacity: 1;
    margin-bottom: 35px !important;
}
.way a:hover,
#nav li:nth-child(5) a:hover{
    box-shadow: 0px 0px 10px #FFB02C !Important;
    transition: 0.3s;
}
.way a{
    transition: 0.3s;
    height: 42px;
    background-color: #FFB02C;
    border-radius: 6px;
    opacity: 1;
    line-height: 25px;
    font: 500 14px/16px Work Sans;
    letter-spacing: 0;
    color: #1B1F3B;
    text-transform: uppercase;
    background-image: none;
    box-shadow: none;
    border: none;
    padding: 12px 30px;    
}
.hero{
    background-color: #f5f5f5 !important;
    padding-bottom: 20px;    
}
.home-top{
    padding-top: 178px;
    text-align: center;
}
.home-top h1 {
    font: 900 38px/44px Roboto;
    letter-spacing: -.21px;
    color: #1b1f3b;
    opacity: 1;
    margin-bottom: 10px;
}
.hero .col-lg-12{
    padding-bottom:40px;
}
.home-top p {
    text-align: center;
    font: 500 18px/36px Roboto !important;
    letter-spacing: 0;
    color: #5f6275;
    opacity: 1;
}
.way{
    position:relative;
}
.hand-way{
    position: absolute;
    top: 0px;
    bottom: 0;
    width: 60%;
    right: 0;
    height: 100%;
    margin: auto;
}
.four-items .col-lg-12{
    max-width: 1200px;
    margin: auto;
    display: block;
    padding-bottom:180px;
}
.four-items .col-lg-3{
    float:left;
    text-align:center;
    position:relative;
}
.four-items .col-lg-3:after {
    content: " ";
    position: absolute;
    width: 125px;
    height: 2px;
    background-color: #e8e8eb;
    top: 50px;
    right: -61px;
}
.four-items .col-lg-3:last-of-type:after{
    display:none;
}
.four-items .col-lg-3 p{
    text-align: center;
    font: 400 17px/26px Roboto !important;
    letter-spacing: 0;
    color: #5F6275;
    opacity: 1;
    margin-bottom: 20px;
    margin-top: 20px;  
}
.four-items  .gatsby-image-wrapper{
    max-width: 96px;
    background-color: #e8e8eb;
    border-radius: 100%;
    margin:0 auto;
}
.hand-way img{
    width:1005;
}
.home-middle p {
    text-align: left;
    font: 400 14px/20px Roboto;
    letter-spacing: -.3px;
    color: #1b1f3b;
    opacity: 1;
    margin-top: 10px;
    margin-bottom: 15px;
}
.home-middle{
width: 100%;
    max-width: 636px;
    margin: 0 auto;
    padding-top: 28px;
}
.home-middle h3 {
    text-align: left;
    font: 800 20px/24px Roboto;
    letter-spacing: -.11px;
    color: #1b1f3b;
    opacity: 1;
    padding-top: 14px;
    padding-bottom: 10px;
    position: relative;
    display:inline-block;
}
.home-above .col-lg-6{
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}
.home-bottom {
    margin: 0 auto!important;
    max-width: 1100px;
    padding-bottom: 73px;
    padding-top: 77px;
}
.home-bottom .col-lg-4{
    float: left;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
.home-bottom h3{
    text-align: center;
    font: 900 16px/19px Work Sans!important;
    letter-spacing: -.1px;
    color: #1b1f3b;
    text-transform: uppercase;
    opacity: 1;
    margin-bottom: 8px; 
}
.home-bottom p{
    text-align: center;
    font: 400 16px/26px Roboto!important;
    letter-spacing: 0;
    color: #5f6275;
    opacity: 1;    
}
.home-above .col-lg-6 a{
background: #fff 0% 0% no-repeat padding-box;
    box-shadow:0 2px 20px rgba(27, 0, 59, 0.2);
    border-radius: 4px;
    opacity: 1;
    padding-top: 21px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    width: 100%;
    transition:0.3s;
}
.home-above .col-lg-6 a:hover{
      box-shadow:0 2px 20px rgba(27, 0, 59, 0.3);  
       transition:0.3s;
}
#nav li:nth-child(4) a {
width: auto;
    height: auto;
    padding: 12px 25px;
    background: #e8e8eb 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    line-height: 25px!important;
    margin-left: 60px;
    margin-top: -5px;
    margin-right: 0;
    font-weight: 500;
}
#nav li:nth-child(5) a  {
width: auto;
    height: auto;
    padding: 12px 25px;
    background: #ffb02c 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    line-height: 25px!important;
    margin-left: 18px;
    margin-top: -5px;
}
.nav__wrap {
    display: block !important;
    height: auto !important;
}
.lang-bar .dropdown-menu a {
    width: 100%;
    display: inline-block;
    padding: 0 7px!important;
    color: #1b1f3b!important;
    text-transform: uppercase;
    opacity: 1;
    font-family: 'Work Sans', sans-serif !important;
    font-size:14px;
}
.lang-bar .dropdown-menu {
    line-height: 40px;
    max-width: 66px;
    border: 1px solid #c5c5c5;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    text-align: center;
    margin-top: 10px;
}
.lang-bar, .lang-bar svg {
    display: inline-block;
}
.lang-bar svg {
    max-width: 30px;
    height: 24px;
    margin-bottom: -7px;
}
.mobile-menu {
    display: none;
}
.lang-bar button {
    cursor: pointer;
    outline: none;
    -webkit-appearance: none !important;
    border: none;
    background-color: transparent;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #37383d;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}
body, html{
font-family: 'Work Sans', sans-serif;
}
a{
    text-decoration: none;
}
#nav li a {
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    color: #1b1f3b!important;
    text-transform: uppercase;
    opacity: 1;
    font-family:  'Work Sans', sans-serif !important;
    font-weight: 500;
        padding: .55em .83em;
    margin-left: 12px;
    margin-right: 12px;
}
#nav li {
    float: left;
    display: block;
    margin: 0px;
}
#nav{
    list-style: none;
    padding: 0px;
    margin: 0px;
    float: right;
}
.header-wrap {
    padding: 0 52px;
    max-width: 1280px;
    margin: 0 auto;
    height: 100px;
    line-height: 100px;
}
#logo {
    max-width: 145px;
    float: left;
}
#logo svg {
width: 100%;
    height: auto;
    display: block;
    padding-top: 25px;
}
header {
    display: inline-block!important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: #f5f5f5;
}
.main-wrap{
    overflow:hidden;
}
.faq-content{
    position: relative;
    z-index: 0;
}

@media only screen and (min-width: 1480px){
    .hand-way .gatsby-image-wrapper{
        width: 100%;
        height: 100%;
    }
}
@media only screen and (max-width: 1200px){
    #rus #nav li a{
        font-size: 10px !important;
        margin: 0px 5px;
    }
}
@media only screen and (max-width: 1000px){
    .hallotext {
        z-index: 2;
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        top: 140px;
        text-align: center;
        padding: 20px;
    }
    .halloween p {
        color: white;
    }
    .growth .col-lg-12 {
        display: block;
    }
    .boximage{
        padding-top: 50px;
    }
    .accordion .btn{
        font-size:18px;
    }
    .entry-content h2,
    .entry-content h3,
    .entry-content h4,
    .entry-content h5,
    .entry-content h6{
        font-size:18px !important;
        line-height:22px !important;
    }
    .entry-content ol,
    .entry-content li,
    .entry-content ul,
    .entry-content p,
    .accordion p{
        font-size:14px !important;
        line-height:18px !important;
    }
.order-form {
    overflow: auto !important;
    height: 500px;
    padding: 12px;
}
    .ReactModal__Content{
        padding:0px !important;
    }
.form-split {
    width: 100%;
    }
    .show #nav{
    display: block !Important;
    width: 100%;
    }
.footer-logo {
    float: none;
    max-width: 80px;
    margin: 0 auto;
    display:none;
}
    body .footer-nav {
    float: none;
    padding-top: 30px;
    max-width: 300px;
    margin: 0 auto;
}
    .footer-links a, .footer-links p{
        width:100%;
        display:inline-block;
        margin-bottom:0px;
    }
body .footer-nav a {
    border-bottom: none;
    line-height: 20px;
    text-align: center;
    font: 500 14px/16px Work Sans!important;
    letter-spacing: 0;
    color: #fff;
    text-transform: uppercase;
    opacity: 1;
    padding: 0 10px;
    margin: 10px 0px !important;
    width: 100%;
    display: inline-block;
}
.prefooter a {
    margin-bottom: 0px !important;
    }
    .growth .col-lg-12{
    padding-bottom: 80px !important;
    padding: 0px 40px;
    padding-top: 80px;     
    }
body .home-top {
    padding-top: 140px !important;
    text-align: center;
    padding: 0px 40px;
}
.home-above .col-lg-6 {
    text-align: center;
}
    body .four-items .col-lg-12 {
    padding-bottom: 40px;
}
body .col-lg-12{
         padding: 0px 40px;
    }
    .home-above .col-lg-6 a {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
}
    .four-items .col-lg-3:after{
        display:none;
    }
    body .four-items .col-lg-3 p {
    margin-bottom: 40px !important;
    margin-top: 20px !important;
    max-width: 300px;
    margin: 0 auto;
}
    body .hand-way {
    position: relative;
    top: 0px;
    bottom: 0;
    width: 100%;
    right: 0;
    height: 100%;
    margin: auto;
}
    body .way .col-lg-12{
    padding-bottom: 0px;
    padding: 0px 40px;
    padding-top: 80px;
    }
.mobile-menu-wrap {
    transform: none!important;
    width: 100%;
    background-color: whitesmoke;
    top: 88px!important;
}

body #nav li {
float: left;

    margin: 0px;
    width: 100%;
    text-align: center;
    line-height: 60px;
}
    body #nav li a {
    line-height: 20px !important;
    margin: 0px !important;
    padding: 12px 20px !important;
    width: 100% !important;
    }
    .lang-bar {
    width: 100%;
    text-align: center;
    }
#logo {
    max-width: 130px;
    float: left;
    margin: 0 auto;
}
    #nav {
        display: none;
    }
    .hamburger span {
    width: 30px;
    height: 2px;
    background-color: #000;
}
.hamburger span:first-child {
    position: absolute;
    right: 0;
    top: 0;
}
.hamburger span:nth-child(2) {
    position: absolute;
    right: 0;
    top: 10px;
}
.hamburger span:nth-child(3) {
    position: absolute;
    right: 0;
    top: 20px;
}
.mobile-menu-btn {
    position: absolute;
    width: 30px;
    outline: none;
    border: none;
    cursor: pointer;
    height: 30px;
    right: 40px;
    top: 32px;
    background-color: transparent;
}
    .hamburger {
    position: absolute;
    top: 0;
    right: 0;
}
.mobile-menu {
    display: block !important;
}
}